* {
	margin: 0;
}

body{
	background-color: #34495e;
  	font-family: 'Ubuntu', sans-serif;
}



img {
	position: absolute;
	margin-left: 14%;
	display:inline-block;
  	height:65%;
}

ul {
	list-style-type: none;
	display:inline-block;
}

nav {
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	z-index: 99;
}

nav a {
	margin-left: 30px;
	line-height: 50px;
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.header {
	background-color: white;
	text-align: center;
	color: "black";
	padding: 60px;
	clip-path: polygon(0 0%, 100% 0, 100% 70%, 0% 100%);
	margin: 0;
	font-size: 40px;
	font-family: 'Caesar Dressing', cursive;
	letter-spacing: 10px;
}

p {
	letter-spacing: 6px;
	font-size: 20px;
}

button {
	margin-top: 10%;
	margin-left: 25%;
	padding: 6px;
	width: 280px;
	height: 60px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
    background-color: #ffffff;
    font-size: 16px;
    color: #34495e;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

button:hover {
	background-color: #F5F5F6;
	color: #1d303f;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pant {
	visibility:hidden;
  	z-index: 1;
}

.chestplate {
	visibility:hidden;
  	z-index: 2;
}

.helmet {
	visibility:hidden;
  	z-index: 3;
}

.shoe {
	visibility:hidden;
  	z-index: 4;
}

.shield {
	visibility:hidden;
  	z-index: 5;
}

.weapon {
	visibility:hidden;
  	z-index: 6;
}
