* {
	margin: 0;
}

body{
	top: 0;
	left: 0;
	width: 100%;
	background-color: #34495e;
  	font-family: 'Ubuntu', sans-serif;
}



img {
	position: absolute;
	margin-left: 14%;
	display:inline-block;
  	height:65%;
}

ul {
	list-style-type: none;
	display:inline-block;
}


nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: .5s;
	background-color: #3D3D3D;
	min-height: 8vh;
	z-index: 98;
	font-size: 20px;
	font-weight: 300;
}
.logo {
	color: white;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-family: 'Caesar Dressing', cursive;
	font-size: 22px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%
}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 25px;
	transition: .5s;
}

h1 {
	padding-top: 10%;
}

p {
	letter-spacing: 6px;
	font-size: 20px;
}

.the-game {
	padding: 5%;
}

button {
	margin-top: 10%;
	margin-left: 25%;
	width: 280px;
	height: 60px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
    background-color: #ffffff;
    font-size: 16px;
    color: #34495e;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

button:hover {
	background-color: #F5F5F6;
	color: #1d303f;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.pant {
	visibility:hidden;
  	z-index: 1;
}

.chestplate {
	visibility:hidden;
  	z-index: 2;
}

.helmet {
	visibility:hidden;
  	z-index: 3;
}

.shoe {
	visibility:hidden;
  	z-index: 4;
}

.shield {
	visibility:hidden;
  	z-index: 5;
}

.weapon {
	visibility:hidden;
  	z-index: 6;
}

@media screen and (max-device-width: 768px) {

	img {
		position: absolute;
		margin-top: 20%;
		margin-left: 14%;
		display:inline-block;
	  	height:30%;
	}

	button:first-child {
		margin-top: 30%;
		margin-left: 25%;
	}

	nav	{
		min-height: 6vh;
		z-index: 98;
		font-size: 20px;
		font-weight: 300;
	}
}
