* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin-bottom: 20px;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: 'Ubuntu', sans-serif;
}

ul {
	list-style-type: none;
}

p, li {
	font-size: 25px
}


nav {
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	z-index: 99;
}

nav a {
	margin-left: 30px;
	line-height: 50px;
	color: white;
	text-decoration: none;
	font-size: 30px;
}

button {
	padding: 6px;
	width: 280px;
	height: 60px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
    background-color: #ffffff;
    font-size: 16px;
    color: #34495e;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

button:hover {
	background-color: #F5F5F6;
	color: #1d303f;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
	display: block;
  	margin: auto;
}

section {
	font-size: 25px;
	color: white;
	text-align: center;
	padding: 30px;
}

.sect {
	height: 70%;
	width: 100%;
	background-color: #ffffff;
	background-size: cover;
	background-attachment: fixed;
}

.intro {
	height: 95%;
	background-color: #34495E;
}

.szoveg {
	width: 60%;
	padding-right: 20%;
	padding-left: 20%;
}

.game {
	height: 25%;
	background-color: #34495E;
}

.footer {
	height: 50%;
	background-color: #34495E;
}

.sectimg1 {
	background-image: url("../images/background1.png");
}

.sectimg2 {
	background-image: url("../images/background2.png");
}

.sectimg3 {
	background-image: url("../images/background3.png");
}

.cim {
	font-size: 120px;
	padding: 15%;
	font-family: 'Caesar Dressing', cursive;
	letter-spacing: 30px;
}

.jatek {
	font-size: 120px;
	padding: 15%;
	font-family: 'Caesar Dressing', cursive;
	letter-spacing: 30px;
}