body {
	background-color: #34495E;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.menu {
	margin-top: 5rem;
	display: flex;
	justify-content: space-around;
	width: 60%;
}

.menu a {
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 4px;
	display: flex;
	color: white;
	padding: 0 10px;
}

.menu a:hover {
	opacity: .8;
	transform: scale(1.2);
}

.first {
	margin-top: 7rem;
	margin-bottom: 2rem;
}

.items {
	margin-top: 6rem;
}

.first .container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-align: center;
	flex-direction: row;
}

.items .container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-align: center;
	flex-direction: row;
	background-color: #F7F1E3
}

.item {
	background-color: #F7F1E3;
	text-align: center;
	width: 400px;
	height: 400px;
	align-items: center;
	justify-content: center;
	transition: .2s;
	padding-bottom: 4rem;
}

.item img:hover {
	opacity: 0.7;
}

.item img {
	height: 60%;
	margin-top: -1rem;
	margin-bottom: -1rem;
}

.shoppin-cart {
	max-width: 30px;
}

#cart {
	margin-left: 50%;
	color: white;
	font-size: 17px;
	padding: 5px;
	text-align: center;
}

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 18vh;
	background-color: none;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: .5s;
}
.logo {
	color: white;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-family: 'Caesar Dressing', cursive;
	font-size: 22px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%
}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 25px;
	font-weight: 400;
	transition: .5s;
}

.line-burger {
	display: none;
	cursor: pointer;
}

.line-burger div {
	width: 25px;
	height: 2px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}

.sticky {
	background-color: #3D3D3D;
	min-height: 8vh;
	z-index: 98;
	font-size: 20px;
	font-weight: 300;
	color: white;
}

.sticky2 {
	color: white;
}

.button {
	border: 2px solid #3D3D3D;
	text-decoration: none;
	padding: 4px 25px;
	border-radius: 10px;
	color: #3D3D3D;
	transition: .4s;
}

.button:hover {
	background-color: #3D3D3D;
	color: #f7f1e3;
	box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
}

@media (max-width: 1220px) {
	.nav-links {
		width: 80%;
	}
}

@media screen and (max-device-width: 768px) {

	p ul li {
		font-size: 120%
	}

	.shoppin-cart {
		visibility: hidden;
	}

	.menu a {
		font-size: 2.5rem;
		padding: 0 40px;
	}

	.first {
		margin-top: 15rem;
		margin-bottom: 2rem;
	}

	.item {
		background-color: #F7F1E3;
		text-align: center;
		width: 400px;
		height: 400px;
		align-items: center;
		justify-content: center;
		transition: .2s;
		padding-bottom: 20rem;
	}

	.item img:hover {
		opacity: 0.7;
	}

	.item img {
		height: 90%;
		margin-top: -1rem;
		margin-bottom: -1rem;
	}

	h1 {
		font-size: 45px;
	}

	h2 {
		font-size: 35px;
	}

	.button {
		background-color: #3D3D3D;
		text-decoration: none;
		padding: 20px 40px;
		border-radius: 10px;
		color: white;
		transition: .4s;
		font-size: 35px;
	}

	.nav-links {
		position: absolute;
		right: 0px;
		height: 40vh;
		top: 4vh;
		background-color: #3D3D3D;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translateX(100%);
		transition: transform .5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}

	.line-burger {
		display: block;
		margin-right: 6%;
	}

	.logo {
		letter-spacing: 10px;
		font-size: 52px;
	}

	.line-burger div {
		width: 80px;
		height: 5px;
		margin: 20px;

	}

	.nav-links a {
		color: white;
		text-decoration: none;
		letter-spacing: 3px;
		font-size: 40px;
		transition: .5s;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(6px,35px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(0px,-40px);
}